<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auth">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rules">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Rules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournament">
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label>Tournament</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scorecard">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Scorecard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
