<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auth">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rules">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Rules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scorecard">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Scorecard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
