<ion-header translucent>
  <ion-toolbar>
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/course.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Golf Rules</ion-card-subtitle>
      <ion-card-title>Mountain Lake Golf Course</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        For everyone's enjoyment please keep pace with the group in front of
        you.
      </p>
      <ul>
        <li>Repair ball marks on greens</li>
        <li>Rake Sand Bunkers</li>
        <li>Replace Divots</li>
      </ul>
      <p>This is your course please help us take care of it</p>     

      <ion-list>
        <h2 class="ion-text-uppercase">
          U.S.G.A. rules shall govern play
        </h2>
        <h3>Except where modified by local rules</h3>
        <ion-item>
          <ion-label>
            Winter rules apply
          </ion-label>
          <ion-icon name="snow" size="large" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            Out of Bounds: White stakes indicate out of bounds. A penalty is the
            loss of distance and one stroke.
          </ion-label>
          <ion-icon name="log-out" size="large" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            Lost Ball: If a ball is lost the player shall play their next stroke
            as near as possible to the spot from which the original ball was
            lost or moved by another player, adding a penalty stroke to their
            score.
          </ion-label>
          <ion-icon name="search" size="large" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            Water Hazard: Holes 2 and 7, off of the tee. Penalty, stroke, and
            distance.
          </ion-label>
          <ion-icon name="water-outline" size="large" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            Lateral Water Hazard (Red staked areas): Holes 1, 4, 5, 6, and 9. If
            a ball lies or is lost in a lateral water hazard, the player may,
            under penalty of one stroke, drop ball in line of flight, not near
            the hole.
          </ion-label>
          <ion-icon name="water" size="large" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            Unplayable Lie: Under penalty of one stroke, you may lift the ball
            and drop within two club-lengths where the ball lies, but not near
            the hole. Grass area around water hazards denotes water hazard
            limits.
          </ion-label>
          <ion-icon
            name="hand-left-outline"
            size="large"
            slot="start"
          ></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            A ball lying in newly seeded areas near new trees or shrubs, in
            casual water, or near obstructions may be removed to playable turf
            not nearer to the hole in the line of flight without penalty.
          </ion-label>
          <ion-icon name="leaf-outline" size="large" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            Please drive and park at least 15 ft. from greens.
          </ion-label>
          <ion-icon name="golf" size="large" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
