<ion-header translucent>
  <ion-toolbar>
    <ion-title>Card</ion-title>
  </ion-toolbar> </ion-header
>,
<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/course.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Golf Rules</ion-card-subtitle>
      <ion-card-title>Mountain Lake Golf Course</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        For everyone's enjoyment please keep pace with the group in front of
        you.
      </p>
      <ul>
        <li>Repair ball marks on greens</li>
        <li>Rake Sand Bunkers</li>
        <li>Replace Divots</li>
      </ul>
      <p>This is your course please help us take care of it</p>
    </ion-card-content>
  </ion-card>
</ion-content>
