:root {
  --ion-color-primary: #16800C;
  --ion-color-primary-rgb: 22,128,12;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #13710b;
  --ion-color-primary-tint: #2d8d24;

  --ion-color-secondary: #801858;
  --ion-color-secondary-rgb: 128,24,88;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #71154d;
  --ion-color-secondary-tint: #8d2f69;

  --ion-color-tertiary: #184380;
  --ion-color-tertiary-rgb: 24,67,128;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #153b71;
  --ion-color-tertiary-tint: #2f568d;

  --ion-color-success: #16800C;
  --ion-color-success-rgb: 22,128,12;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #13710b;
  --ion-color-success-tint: #2d8d24;

  --ion-color-warning: #805605;
  --ion-color-warning-rgb: 128,86,5;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #714c04;
  --ion-color-warning-tint: #8d671e;

  --ion-color-danger: #801858;
  --ion-color-danger-rgb: 128,24,88;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #71154d;
  --ion-color-danger-tint: #8d2f69;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}

ion-toolbar {
  ion-button,
  ion-back-button,
  ion-menu-button,
  .sc-ion-back-button-ios-h {
    --color: white;
  }
}