<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tournament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Player</ion-label>
        <ion-input
          type="text"
          autocomplete
          autocorrect
          formControlName="player"
        ></ion-input>
      </ion-item>
      <ion-button
        color="secondary"
        (click)="onAddTournament()"
        [disabled]="!form.valid"
      >
        Submit
      </ion-button>
    </form>
  </ion-card>
</ion-content>
